/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-border-color: #223971 ;  /* Color del borde */
    -fx-border-width: 5px;    /* Ancho del borde */
    -fx-border-radius: 10px;  /* Radio del borde (bordes redondeados) */
    -fx-background-color: #f0f0f0;
}

.pane{
    -fx-background-color: #223971;
    -fx-background-radius: 0px 0px 10px 0px;
    -fx-border-radius: 0px 0px 10px 0px; /* Necesario para aplicar la curva */
    -fx-border-width: 5px;
    -fx-border-color: #223971;
}
.title{
    -fx-font-size: 20px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-text-fill: white; /* Color del texto en blanco */
}

